.page {
  box-sizing: border-box;
  height: 100%;
  text-align: center;
}

body {
  min-width: 1366px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: 0 auto;
  width: 1366px;
  padding-left: 98px;
  padding-right: 98px;
}

.button {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 26px 38px 27px;
}

.button--dark {
  background-color: #444240;
}

.button--light {
  background-color: #D4B098;
}

.button--filters-reset {
  padding: 24px 53px;
  letter-spacing: 0;
  background-color: #FFFFFF;
  color: #1D1A1A;
  border: 2px solid #E7E0CF;
}

.bands {
  padding-bottom: 80px;
}

.bands__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 37px;
}

.bands__header h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.bands__header a {
  padding-bottom: 12px;
  border-bottom: 1px solid #C4C0B6;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
}

.bands__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -50px;
  position: relative;
}

.bands__list::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  left: -50px;
  border-bottom: 1px solid #1B1A17;
  border-left: 1px solid #1B1A17;
  transform: rotate(45deg);
}

.bands__list::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  top: 50%;
  right: -50px;
  border-bottom: 1px solid #1B1A17;
  border-left: 1px solid #1B1A17;
  transform: rotate(-135deg);
}

.bands__item {
  margin-right: 40px;
}

.bands__item:last-child {
  margin-right: 0;
}

.bands__card {
  position: relative;
  background: #FDFDFB;
}

.bands__card-inner {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bands__card-inner h3 {
  margin-bottom: 9px;
}

.desc-list {
  text-align: left;
  padding-top: 12px;
}

.desc-list__item-term {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 33px;
}

.desc-list__item-desc-list-item {
  margin-bottom: 15px;
}

.main-footer {
  background-color: #444240;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.75);
}

.main-footer__inner {
  display: flex;
  padding-top: 67px;
  padding-bottom: 67px;
}

.main-footer__left-col {
  margin-right: 118px;
  margin-left: 87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 160px;
}

.main-footer__left-col img {
  margin-bottom: 26px;
}

.main-footer__left-col a:nth-child(2) {
  margin-bottom: 15px;
}

.main-footer__right-col {
  display: flex;
  width: 720px;
}

.desc-list__item-wrapper {
  margin-right: 118px;
  width: 180px;
}

.desc-list__item-wrapper:first-child {
  width: 123px;
}

.desc-list__item-wrapper:last-child {
  margin-right: 0;
}

.mens-watches {
  margin-bottom: 58px;
}

.mens-watches__inner {
  padding-top: 50px;
}

.mens-watches__breadcrumbs-list {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #B3B3B3;
  display: flex;
  padding-left: 5px;
  width: 500px;
  margin-bottom: 40px;
}

.mens-watches__breadcrumbs-item {
  position: relative;
  margin-right: 31px;
}

.mens-watches__breadcrumbs-item:not(:last-child)::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 7px;
  right: -17px;
  border-bottom: 1px solid #BDB9B5;
  border-right: 1px solid #BDB9B5;
  transform: rotate(-45deg);
}

.mens-watches__breadcrumbs-item:last-child {
  color: #555248;
}

.mens-watches__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3px;
  margin-bottom: 40px;
}

.mens-watches__header h2 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.mens-watches__header label,
.mens-watches__header select {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #BDB9B5;
}

.mens-watches__header select {
  border: none;
  color: #1B1A17;
}

.mens-watches__main-content {
  display: flex;
}

.mens-watches__filters {
  width: 240px;
  margin-right: 89px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 5px;
}

.mens-watches__filters fieldset {
  width: 100%;
}

.mens-watches__price-range-block-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mens-watches__price-and-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mens-watches__price-and-button-container button {
  border: none;
  border-bottom: 1px solid #1B1A17;
  width: 10px;
  height: 1px;
  margin-top: 4px;
  background: none;
}

.mens-watches__price-range-block-inner p{
  margin-right: auto;
}

.mens-watches__price-range-container {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 33px;
}

.mens-watches__price-range {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.mens-watches__price-range::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  border-bottom: 1px solid #D4D4D4;
}

.mens-watches__price-range::after {
  position: absolute;
  content: "";
  width: 119px;
  height: 0;
  left: 34px;
  border-bottom: 1px solid #1B1A17;
}

.mens-watches__price-range-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  position: absolute;
  top: -4px;
  left: 4px;
}

.mens-watches__price-range-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  position: absolute;
  top: -4px;
  right: 53px;
}

.mens-watches__price-range-left-select,
.mens-watches__price-range-right-select {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #1B1A17;
  background-color: #FFFFFF;
}

.mens-watches__price-range-left-select-price,
.mens-watches__price-range-right-select-price {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(27, 26, 23, 0.82);

}

.mens-watches__brand-and-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 27px;
}

.mens-watches__brand-and-button-container button {
  border: none;
  border-bottom: 1px solid #1B1A17;
  width: 10px;
  height: 1px;
  margin-top: 4px;
  background: none;
}

.mens-watches__mechanism-and-button-container,
.mens-watches__material-and-button-container,
.mens-watches__color-and-button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.mens-watches__mechanism-and-button-container button,
.mens-watches__material-and-button-container button,
.mens-watches__color-and-button-container button {
  position: relative;
  border: none;
  background: none;
  width: 10px;
  height: 10px;
  margin-top: 4px;
}

.mens-watches__mechanism-and-button-container button::before,
.mens-watches__material-and-button-container button::before,
.mens-watches__color-and-button-container button::before {
  position: absolute;
  content: "";
  width: 11px;
  height: 0;
  border-bottom: 1px solid #1B1A17;
}

.mens-watches__mechanism-and-button-container button::after,
.mens-watches__material-and-button-container button::after,
.mens-watches__color-and-button-container button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 11px;
  top: 0;
  left: 11px;
  border-right: 1px solid #1B1A17;
}

.mens-watches__color-block {
  margin-bottom: 35px;
}

.mens-watches__brands-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mens-watches__brands-item {
  display: flex;
  margin-bottom: 20px;
}

.mens-watches__checkbox + label {
  position: relative;
  display: flex;
  align-items: baseline;
}

.mens-watches__checkbox:checked + label::before {
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #909090;
  background-color: #909090;
  margin-right: 16px;
}

.mens-watches__checkbox:checked + label::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 4px;
  top: 4px;
  left: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  border-left: 1px solid rgba(255, 255, 255, 0.75);
  background: none;
  transform: rotate(-45deg);
}

.mens-watches__checkbox:not(:checked) + label::before {
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #909090;
  margin-right: 16px;
}

.mens-watches__watches-list-and-pagination-container {
  width: 835px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mens-watches__watches-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -41px;
  margin-bottom: 8px;
}

.mens-watches__watches-item {
  margin-right: 40px;
  margin-bottom: 40px;
}

.mens-watches__watches-item:last-child {
  margin-right: 0;
}

.mens-watches__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 252px;
  background-color: #FDFDFB;
}

.mens-watches__card-inner {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.mens-watches__card-inner h3{
  margin-bottom: 9px;
}

.mens-watches__pagination-list {
  position: relative;
  margin-left: auto;
  display: flex;
}

.mens-watches__pagination-list::before {
  position: absolute;
  content: "<";
  left: -16px;
}

.mens-watches__pagination-list::after {
  position: absolute;
  content: ">";
  right: -16px;
}

.mens-watches__pagination-item {
  margin-right: 7px;
  color: #B6B6B6;
}

.mens-watches__pagination-item:nth-child(3) {
  color: #1B1A17;
}

.navigation {
  display: flex;
  align-items: flex-end;
}

.navigation__logo-link {
  margin-right: 238px;
}

.navigation__main-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 495px;
  margin-right: 233px;
  padding-left: 28px;
  padding-right: 45px;
  padding-bottom: 9px;
  align-items: baseline;
}

.navigation__main-nav-item {
  margin-right: 65px;
}

.navigation__main-nav-item:last-child {
  margin-right: 0;
}

.navigation__user-nav-list {
  display: flex;
  align-items: flex-end;
}

.navigation__user-nav-item {
  margin-right: 23px;
}

.navigation__user-nav-item:last-child {
  margin-right: 0;
}

.news {
  margin-bottom: 90px;
}

.news__inner {
  display: flex;
  justify-content: flex-start;
}

.news__text-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 140px;
  width: 541px;
}

.news__title {
  margin-bottom: 40px;
}

.news__text-col p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #444240;
  padding-right: 100px;
  margin-bottom: 118px;
}

.news__socials-list {
  display: flex;
  align-items: baseline;
}

.news__socials-item {
  margin-right: 18px;
}

.news__img-col {
  display: flex;
  width: 629px;
}

.news__img-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 242px;
  margin-right: 10px;
}

.news__img-col-left img:first-child {
  margin-bottom: 10px;
}

.news__img-col-right {
  width: 377px;
}

.news__text-col span {
  font-weight: 700;
}

.promo {
  background-color: #FDFDFB;
  margin-bottom: 49px;
  position: relative;
}

.promo__inner {
  padding-top: 17px;
  display: flex;
}

.promo__text-col {
  width: 432px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 247px;
  padding-left: 83px;
}

.promo__text-col p {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 64px;
  padding-right: 80px;
}

.promo__text-col-title {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 400;
  color: #1B1A17;
  margin-bottom: 39px;
}

.promo__text-col-title::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  top: 25px;
  left: -80px;
  background-color: #8B8371;
}

.promo__text-col-title span:first-child {
  display: inline-block;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 16px;
}
.promo__text-col-title span:last-child {
  display: inline-block;
  font-size: 30px;
  line-height: 31px;
}

.promo__img-col {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-left: 53px;
}

.promo__img-col::before {
  content: "";
  position: absolute;
  width: 496px;
  height: 944px;
  top: 10px;
  left: -65px;
  background: url("img/Ellipse.png") no-repeat;
}

.promo__img-col span {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1B1A17;
}

.promo__img-col span:first-child {
  margin-top: 147px;
  position: relative;
}

.promo__img-col span:first-child::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 13px;
  top: 3px;
  right: -15px;
  background: url("img/ruble.svg") no-repeat;
}

.promo__img-col span:first-child::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  top: 10px;
  right: -80px;
  background-color: #8B8371;
}

.promo__img-col span:last-child::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  top: 10px;
  left: -80px;
  background-color: #8B8371;
}

.promo__img-col span:last-child {
  margin-top: 645px;
  position: relative;
}

.promo__img-col img {
  z-index: 3;
}

.popular {
  background-color: #FDFDFB;
  padding-bottom: 40px;
  margin-bottom: 86px;
}

.popular__view-all-container {
  display: flex;
}

.popular__view-all {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  margin-left: auto;
  padding-bottom: 11px;
  border-bottom: 1px solid #C4C0B6;
}

.popular__list {
  padding-top: 65px;
  display: flex;
  flex-wrap: wrap;
}

.popular__item {
  width: 313px;
  margin-right: 94px;
}

.popular__item:last-child{
  margin-right: 0;
}

.popular__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popular__card img {
  margin-bottom: 19px;
}

.popular__card-title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 10px;
}

.popular__card-price {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 2px;
}

.popular__view-details {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #1B1A17;
  margin-left: 60px;
}

.quality {
  padding-top: 52px;
  padding-bottom: 53px;
  background: linear-gradient(to right, #F7F5EF, #F7F5EF 30%, #FDFDFB 30%, #FDFDFB 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 81px;
}

.quality__inner {
  display: flex;
  flex-direction: row-reverse;
}

.quality__text-col {
  padding-left: 69px;
  padding-top: 88px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quality__title {
  margin-bottom: 38px;
}

.quality__text-col p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
  width: 570px;
  margin-bottom: 45px;
}

.quality__img-col {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quality__img-col img {
  margin-bottom: 20px;
}

.quality__banner-controls {
  display: flex;
  margin-right: 83px;
}

.quality__banner-previous,
.quality__banner-next {
  background: none;
  border: none;
}

.quality__banner-number {
  font-family: 'Prata', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.ruble {
  position: relative;
}

.ruble--small::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 9px;
  top: 2px;
  right: -13px;
  background: url(img/ruble.svg) no-repeat center;
  background-size: contain;
}

.ruble--big::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  top: 3px;
  right: -13px;
  background: url(img/ruble.svg) no-repeat center;
  background-size: contain;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*font-family: 'Playfair Display', serif;
font-family: 'Prata', serif;
font-family: 'Roboto', sans-serif;*/
